<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link th:href="@{/homepage.css}" href="../static/homepage.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="sidebar">
    <nav>
        <ul>
            <li class="dropdown">
                <button class="nav-button" id="user">User</button>
                <div class="dropdown-content">
                    <a href="/addUser" id="adduser">Add User</a>
                    <a href="/get-user-list">List of user</a>
                </div>
            </li>
            <li class="dropdown">
                <button class="nav-button" id="movie">Movie</button>
                <div class="dropdown-content">
                    <a href="/addMovie">Add Movie</a>
                    <a href="/get-movie-list">List of Movie</a>
                </div>
            </li>
            <li class="dropdown">
                <button class="nav-button" id="theater">Theater</button>
                <div class="dropdown-content">
                    <a href="/addTheater">Book Ticket</a>
                    <a href="/get-theater-list">List of Theater</a>
                </div>
            </li>
            <li><a th:href="@{/login}"><button type="button">Logout</button></a></li>
        </ul>
    </nav>
</div>
<div class="content">
    <!-- Your main content goes here -->
<!--    <h2>Main Content</h2>-->
<!--    <p>This is the main content area.</p>-->
</div>
</body>
</html>
