<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User List</title>
</head>
<link th:href="@{/list.css}" href="../static/list.css" rel="stylesheet" type="text/css">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<body>
<h1>User List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>email</th>
        <th>Action</th>
    </tr>
    <tr th:each="users : ${user}">
        <td th:text="${users.id}"></td>
        <td th:text="${users.username}"></td>
        <td th:text="${users.email}"></td>


        <td class="border-bottom-0">
            <a th:href="@{'/updateUser/' + ${users.id}}" class="btn btn-primary">Update</a>
            <a th:href="@{'/deleteUser/' + ${users.id}}" class="btn btn-primary">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/home}" class="button">Home</a>
</body>
</html>
